*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: rgb(20, 6, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  text-align: center;
}

li {
  list-style: none;
}

body > .container {
  padding: 30px;
  width: 100%;
}

body > .container > [class$="-container"] {
  width: 100%;
}

.dropdown-menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  background-color: rgb(106, 47, 157);
  padding-right: 2rem;
}

.dropdown-menu > ul {
  display: flex;
  align-items: center;
}

.dropdown-menu > ul > li {
  display: flex;
  align-items: center;
  position: relative;
}

.dropdown-menu > ul > li > ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3.1rem;
  width: 100%;
  min-width: 9.375rem;
}

.dropdown-menu li > ul > a {
  width: 100%;
}

li > span {
  cursor: pointer;
  padding: 0.5rem;
  transition: transform 300ms cubic-bezier(0, 0.08, 0.85, 1.33);
}

li > span.show {
  transform: rotateX(180deg);
}

li {
  background-color: rgb(106, 47, 157);
  transition: background-color 300ms ease;
}
li:hover, .sub-links li:hover {
  background-color: rgb(126, 56, 188);
}

.sub-links li{
  display: none;
  background-color: rgb(102, 60, 138);
}

.sub-links {
  --delay-time: 150ms;
  perspective: 1000px;
}

.sub-links li:nth-child(1) {
  animation-delay: 0;
}
.sub-links li:nth-child(2) {
  animation-delay: calc(var(--delay-time) * 1);
}
.sub-links li:nth-child(3) {
  animation-delay: calc(var(--delay-time) * 2);
}
.sub-links li:nth-child(4) {
  animation-delay: calc(var(--delay-time) * 3);
}

li > .sub-links.show li {
  display: block;
  opacity: 0;
}

#sub1.show li {
  animation-name: link1;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  /* transform-origin: left; */
}

@keyframes link1 {
  0% {
    opacity: 0;
    transform: rotateY(90deg) rotateX(30deg);
  }
  50% {
    transform: rotateY(-10deg) rotateX(-2deg);
  }
  70% {
    transform: rotateY(2deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

#sub2.show li {
  animation-name: link2;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: top center
}

@keyframes link2 {
  0% {
    opacity: 0;
    transform: translateY(-30px) rotateX(-120deg);
  }
  60% {
    transform: rotateX(30deg);
  }
  70% {
    transform: rotateX(-9deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

#sub3.show li {
  animation-name: link3;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes link3 {
  0% {
    opacity: 0;
    transform: scale(0.2) translateY(20px);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#sub4.show li {
  animation-name: link4;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: top right;
}

@keyframes link4 {
  0% {
    opacity: 0;
    transform: rotate(-60deg) translateX(20px);
  }
  70% {
    transform: rotate(3deg) translate(-5px);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}